html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    list-style: none;
    margin-left:1.2vw;
}
h1{
    margin-left:2.5vw;
}
.welcomeImage>img{
    
    width: 94vw;
    height:100vh;
    margin-left:2vw;
    margin-right:2vw;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.navbar>ul{
    display:flex;
    margin-right:2vw;
    font-size:1.3rem;
    padding-top: 11px;
    
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    
}
.footer>p{
    font-size: 25px;
}
.container{
    display:flex;
    
}
.container img{
    width:10vw;
    height:10vw;
}
.container div{
text-align: center;
margin-top:1rem;
margin-left:2vw;
margin-right:2vw;
}
a{
text-decoration: none;
}
a:link,a:visited{
    color:black;
}
a:hover{
    color:chartreuse;
}